body{
  background-color: #fff;
}
.title{
  font-size: 22px;
}
.paragraph{
  font-size: 18px;
}
.link{
  font-size: 20px;
}
.btn{
  font-size: 18px !important;
}
.text_in_block{
  font-size: 32px !important;
}
address{
  font-size: 28px;
}
img{
  max-height: 150px;
}